html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Tahoma, Arial, sans-serif;
}

body {
  padding: 0;
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffc107;
  color: #fff;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
  margin-bottom: 10px;
}

.btn-group button {
  padding: 20px;
  margin-right: 30px;
  line-height: 5px;
  border: 10px solid #8f8f8f;
}

button {
  background-color: #fff;
}

button:hover {
  cursor: pointer;
}

img {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.container {
  border-radius: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#673ab7), to(#4527a0));
  background: linear-gradient(to bottom, #673ab7, #4527a0);
  padding: 10px 10px 30px;
  margin-top: 20px;
}

.controls-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lives-score-count-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lives-wrapper, #score-wrapper {
  padding: 5px;
}

#question-answer-display {
  border: 1px solid #000;
  height: 300px;
  margin: 0 40px 10px;
  background-color: lightgrey;
}

#volume-control {
  position: relative;
  left: 40px;
  width: 40px;
}

#who-is-this {
  font-size: 6.5rem;
  color: #000;
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}

#start-game-display {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#start-game-display h1 {
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
}

#start-game-btn {
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

#start-game-btn i {
  font-size: 4rem;
  color: darkgreen;
  padding-right: 10px;
}

.youtube-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  text-decoration: none;
}

.youtube-wrapper:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.youtube-wrapper .channel-title-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 100px;
  bottom: 40px;
}

.youtube-wrapper img {
  width: 150px;
  height: 150px;
  -webkit-clip-path: circle(37%);
          clip-path: circle(37%);
}

.youtube-wrapper p {
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: 800;
  height: 20px;
  border: 5px solid #fff;
  background-color: #2A62F6;
  padding: 7px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.youtube-wrapper p span {
  font-weight: 100;
  font-size: 1rem;
}

.youtube-wrapper i {
  font-size: 2.5rem;
  color: #ff0000;
  padding: 20px;
  position: relative;
  top: 0px;
  right: 10px;
}

#game-over button {
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 5px;
}

#game-over button i {
  font-size: 4rem;
  color: darkgreen;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .btn-group {
    padding-bottom: 60px;
  }
  .btn-group button {
    margin-right: 15px;
    padding: 15px;
    font-size: 0.8rem;
  }
  .container {
    border-radius: 0px;
    margin-top: 0px;
  }
  .lives-score-count-wrapper {
    font-size: 0.8rem;
  }
  #volume-control {
    display: none;
  }
  .youtube-wrapper .channel-title-icon-wrapper {
    left: 60px;
  }
  .youtube-wrapper img {
    width: 120px;
    height: 120px;
  }
  .youtube-wrapper p {
    height: 20px;
    border: 4px solid #fff;
    padding: 7px;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  .youtube-wrapper p span {
    font-size: 0.9rem;
  }
  .youtube-wrapper i {
    font-size: 3rem;
    top: 50px;
    right: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */